body{
    background-color: #FCFCFC;
    font-family: "Open sans";
}

.frmstn{
    text-align: center;
}

.sect1{
    background-color: #F4F7FA;
}

.sect2{
    background-color: #F4F7FA;
}

.sect3{
    background-color: #F4F7FA;
}

form::after{
    content: ' ';
    display: block;
    height: 20px;
}