body{
    background-color: #FCFCFC;
}

#frmstn{
    text-align: center;
}

.sect1{
    background-color: #F4F7FA;
}

.sect2{
    background-color: #F4F7FA;
}

.sect3{
    background-color: #F4F7FA;
}